/*
Program name: patient-form.html
Author: Ranadheer Reddy Aienala
Date created: 09/09/2024
Date last edited: 09/21/2024
Version: 1.0
Description: A medical registration form for patients.*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: color-mix(in srgb, white 60%, grey 40%);
    color: #333;
}

.banner {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font: bolder;
    background-color: rgb(0, 0, 0);
    margin: 40px 30px;
    color: rgb(253, 101, 101);
    padding: 10px;
}

form {
    margin: 40px 30px;
    width:  92%;
    padding: 20px;
    background-color: whitesmoke;
    border: 3px double black;
    border-radius: 10px;
}

table {
    width: 100%;
}

table tr td {
    padding: 5px;  
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 black;
    box-sizing: border-box;
}

button {
    background-color: #02080e;
    color: white;
    padding: 10px 20px;
    border: 10px;
    border-radius: 5px;
}

button:hover {
    background-color:rgb(253, 101, 101);
}

.footer {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bolder;
    background-color: rgb(0, 0, 0);
    margin: 40px 30px;
    color: rgb(253, 101, 101);
    padding: 10px;
}

.footer button {
    margin-top: 10px
}
